title{
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: darkblue;
}


.orange {

    border: 0cqmax;

}

.blue {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.red {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.white {
  border: 0cap;
}

.green {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.purple {
   font-family: 'Times New Roman', Times, serif;
}

.black {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.grey {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.brown {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.violet {
    border: 0ch;
}

.yellow {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.golden{
    font-family: cursive;
}

.silver {
    border: 0vw;
}
